@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior:smooth;
  min-width: 0;
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(to bottom, var(--tw-gradient-stops));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .from-gradient-start {
    --tw-gradient-from: #00F0FF;
  }

  .to-gradient-end {
    --tw-gradient-to: #2C82BC;
  }
}

@layer utilities {
  .text-gradient-hover:hover {
    background: linear-gradient(to bottom, var(--tw-gradient-stops));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .from-gradient-start {
    --tw-gradient-from: #00F0FF;
  }

  .to-gradient-end {
    --tw-gradient-to: #2C82BC;
  }
}


/* Ocultar a barra de rolagem, mas permitir a rolagem */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.truncate-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-lines-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.truncate-lines-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}